* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml svneol=native#text/xml
src/main/java/org/cd2h/n3c/DBTest.java -text
src/main/java/org/cd2h/n3c/NIHFOATagLibBodyTagSupport.java -text
src/main/java/org/cd2h/n3c/NIHFOATagLibTagSupport.java -text
src/main/java/org/cd2h/n3c/Sequence.java -text
src/main/java/org/cd2h/n3c/activityCode/ActivityCode.java -text
src/main/java/org/cd2h/n3c/activityCode/ActivityCodeCode.java -text
src/main/java/org/cd2h/n3c/activityCode/ActivityCodeDeleter.java -text
src/main/java/org/cd2h/n3c/activityCode/ActivityCodeID.java -text
src/main/java/org/cd2h/n3c/activityCode/ActivityCodeIterator.java -text
src/main/java/org/cd2h/n3c/content/Content.java -text
src/main/java/org/cd2h/n3c/content/ContentDeleter.java -text
src/main/java/org/cd2h/n3c/content/ContentHtml.java -text
src/main/java/org/cd2h/n3c/content/ContentID.java -text
src/main/java/org/cd2h/n3c/content/ContentIterator.java -text
src/main/java/org/cd2h/n3c/foaType/FoaType.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeCategory.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeCode.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeDeleter.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeDescription.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeInfoLink.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeIterator.java -text
src/main/java/org/cd2h/n3c/foaType/FoaTypeTitle.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDoc.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocAppReceiptDate.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocDeleter.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocDocNum.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocDocType.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocExpirationDate.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocExpirationDateToNow.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocFaDirectCosts.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocFileName.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocGuideLink.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocID.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocIntentDate.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocIterator.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocLard.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocLardToNow.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocPrimaryIc.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocPurpose.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocRelDate.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocRelDateToNow.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocRelNote.java -text
src/main/java/org/cd2h/n3c/guideDoc/GuideDocTitle.java -text
src/main/java/org/cd2h/n3c/interest/Interest.java -text
src/main/java/org/cd2h/n3c/interest/InterestDeleter.java -text
src/main/java/org/cd2h/n3c/interest/InterestID.java -text
src/main/java/org/cd2h/n3c/interest/InterestIterator.java -text
src/main/java/org/cd2h/n3c/interest/InterestUid.java -text
src/main/java/org/cd2h/n3c/investigator/Investigator.java -text
src/main/java/org/cd2h/n3c/investigator/InvestigatorDeleter.java -text
src/main/java/org/cd2h/n3c/investigator/InvestigatorIterator.java -text
src/main/java/org/cd2h/n3c/investigator/InvestigatorLastCheck.java -text
src/main/java/org/cd2h/n3c/investigator/InvestigatorLastCheckToNow.java -text
src/main/java/org/cd2h/n3c/investigator/InvestigatorMode.java -text
src/main/java/org/cd2h/n3c/investigator/InvestigatorUid.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIc.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcCategory.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcDeleter.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcDescription.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcIc.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcInfoLink.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcIterator.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcLogoLink.java -text
src/main/java/org/cd2h/n3c/nihIc/NihIcTitle.java -text
src/main/java/org/cd2h/n3c/partIc/PartIc.java -text
src/main/java/org/cd2h/n3c/partIc/PartIcDeleter.java -text
src/main/java/org/cd2h/n3c/partIc/PartIcID.java -text
src/main/java/org/cd2h/n3c/partIc/PartIcIc.java -text
src/main/java/org/cd2h/n3c/partIc/PartIcIterator.java -text
src/main/java/org/cd2h/n3c/util/NIHFOALoader.java -text
src/main/java/org/cd2h/n3c/util/NIHGuideLoader.java -text
src/main/java/org/cd2h/n3c/util/PropertyLoader.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#text/xml
src/non-packaged-resources/NIHFOATagLib.clay -text svneol=unset#text/xml
src/non-packaged-resources/NIHFOATagLib.sql svneol=native#text/plain
src/non-packaged-resources/custom.sql -text
src/non-packaged-resources/functions.tld -text svneol=unset#text/xml
src/non-packaged-resources/tags.tld -text svneol=unset#text/xml
src/test/java/edu/uiowa/nihfoa/README.txt svneol=native#text/plain
src/test/resources/README.txt svneol=native#text/plain
