* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml svneol=native#text/xml
src/main/java/edu/uiowa/nihfoa/DBTest.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/LuceneIndex.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/NIHFOATagLibBodyTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/NIHFOATagLibTagSupport.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/README.txt svneol=native#text/plain
src/main/java/edu/uiowa/nihfoa/Sequence.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/activityCode/ActivityCode.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/activityCode/ActivityCodeCode.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/activityCode/ActivityCodeDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/activityCode/ActivityCodeID.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/activityCode/ActivityCodeIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/content/Content.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/content/ContentDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/content/ContentHtml.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/content/ContentID.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/content/ContentIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeCategory.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeCode.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeDescription.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeInfoLink.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/foaType/FoaTypeTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDoc.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocAppReceiptDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocDocNum.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocDocType.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocExpirationDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocFaDirectCosts.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocFileName.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocGuideLink.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocID.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocIntentDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocIteratorByPrimary.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocLard.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocPrimaryIc.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocPurpose.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocRelDate.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocRelDateToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocRelNote.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/guideDoc/GuideDocTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/interest/Interest.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/interest/InterestDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/interest/InterestID.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/interest/InterestIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/interest/InterestUid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/Investigator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/InvestigatorDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/InvestigatorIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/InvestigatorLastCheck.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/InvestigatorLastCheckToNow.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/InvestigatorMode.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/investigator/InvestigatorUid.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIc.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcCategory.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcDescription.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcIc.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcInfoLink.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcLogoLink.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/nihIc/NihIcTitle.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/partIc/PartIc.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/partIc/PartIcDeleter.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/partIc/PartIcID.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/partIc/PartIcIc.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/nihfoa/partIc/PartIcIterator.java svneol=native#text/x-java-source
src/main/resources/META-INF/taglib.tld -text svneol=unset#text/xml
src/non-packaged-resources/NIHFOATagLib.clay -text svneol=unset#text/xml
src/non-packaged-resources/NIHFOATagLib.sql svneol=native#text/plain
src/non-packaged-resources/functions.tld -text svneol=unset#text/xml
src/non-packaged-resources/tags.tld -text svneol=unset#text/xml
src/test/java/edu/uiowa/nihfoa/README.txt svneol=native#text/plain
src/test/resources/README.txt svneol=native#text/plain
